<div class="container">
  <h1>Anagrams!</h1>

  <form action="/anagrams" method="POST">
  Show a list of anagrams for the word....
  <br>
  <input type="text" name="user_input">
  <input type="submit" value="List'em all!">
</form>

  <% if @anagrams %>
    <p>Here is a list of your anagrams!  ...</p>
      <ul>
        <% @anagrams.each do |word| %>
        <li><%= word.word %></li> 
        <% end %>
      </ul>
  <% else %>
    <p> there are no anagrams to display! </p> 
  <% end %> 



</div>
